@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');
		
html {
height: 100%;
}

body {
margin: 0;
height: 100%;
}

#container {
height: 100%;
display: flex;
}

#sidebar {
background-color: #fff;
display: inline-block;
vertical-align: top;
height: 100%;
width: 20%;
overflow: auto;
padding: 25px;
}

/* Start of Sidebar related content */

.headerLeft {
    white-space: nowrap;
}

.symbol {
    color: #000;
    font-size: 15px;
    word-spacing: 1em;
    display: inline-block;
    font-weight: 500;
    text-align: center;
}

.headerLeft_content {
    text-shadow: 1px 1px 1px rgb(159, 159, 159);
    color: #161616;
    word-spacing: 0.01em;
    font-size: 15px;
    display: inline-block;
    font-weight: 200;
    text-align: center;
}

.user_bubble {
    border-radius: 20px;
    border: 0px solid #f2f2f2;
    background-color: white;
    height: 125px;
    width: 125px;
    margin: auto;
    margin-top: 20px;
}

.welcome_text {
    height: 50px;
    width: 200px;
    margin-top: 25px;
    text-align: center;
    color: rgb(69, 69, 69);
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.divider {
   margin-top: 15px;
   margin-bottom: 15px;
    border-top: 1px solid #a2a2a2;
    width: 100%;
    padding: 0px;
}

.buttons {
   background-color: #fff;
    border-radius: 15px;
    height: 40px;
    width: 100%;
}

#buttons_text {
    color: rgb(68, 68, 68);
    font-size: 15px;
    padding: 12px;
    text-align: left;
    word-spacing: 5em;
}

.buttons:hover, .search_text:focus {
    background-color: #ebebeb;
}

.nav_text {
    word-spacing: 0.5px;
    color: black;
}

#footer_area {
    color: rgb(68, 68, 68);
    font-size: 13px;
    padding: 12px;
    text-align: center;
    word-spacing: 0.1ßem;
}

/* End of Sidebar related content */

#content {
background: radial-gradient(circle, rgb(247, 247, 247) 0%, 
rgb(255, 251, 251) 30%, rgba(255,252,252,1) 47%, rgba(245,241,241,1) 65%, rgba(231,227,227,1) 100%);;
display: inline-block;
vertical-align: top;
height: 100%;
width: 80%;
overflow: auto;
color: #fff;
}

/* Start of main_Content related content */

#topVideos {
    background-color: #ffff;
    border: 0.2px solid #a2a2a2;
    border-radius: 17px;
    width: 90%;
    height: 1500px;
    margin-top: 15px;
    margin-left: 55px;
    display: block;
    padding: 25px;
    align-items: center;
    justify-content: center;
}

#videoBox {
    background-color: #a2a2a2;
    display: inline-block;
    height: 80%;
    width: 32%;
    border-radius: 16px;
    margin-right: 10px;
}

#landingPage {
    background-color: #ffff;
    border: 0.2px solid #a2a2a2;
    border-radius: 17px;
    width: 90%;
    height: 320px;
    margin-top: 15px;
    margin-left: 55px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#text_side {
    display: inline-block;
    width: 55%;
    color: #000;
    padding: 25px;
    overflow: auto;
}

#top_line {
    margin-bottom: 25px;
    font-weight: 550;
    font-size: 35px;
}

#land_line {
    margin-bottom: 15px;
    font-size: 14px;
    color: #000;
}

#image_side {
    display: inline-block;
    width: 45%;
    overflow: hidden;
}

#image {
    background-image: url(/static/output.jpg);
    border-left: 1px solid #a2a2a2;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}

.top_header {
    background-color: #fff;
    display: flex;
    top: 0;
    right: 0;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 23px;
    position: absolute;
    width: 80%;
}

.all_body {
    position: absolute;
    overflow-x: scroll;
    top: 100px;
    bottom: 15px;
    color: #000;
}
                
.wrap {
    display: flex;
}		

.search_text {
    background-color: #fff;
    border-radius: 35px;
    border: 1px solid gray;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 600px;
    height: 50px;
    padding: 15px 25px 15px 25px;
    font-size: 15px;
}

.search_text:hover, .search_text:focus {
    border: 1.5px solid #a2a2a2;
}		

.search {
    background-color: rgb(223, 223, 223);
    border: 1px solid grey;
    border-left: 0px transparent;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 50px;
    width: 75px;
    -webkit-text-stroke: 0.5px solid white;
}

.search:hover, .search:focus {
    border: 1.5px solid #a2a2a2;
    background-color: #ebebeb;
}

/* Start of LoginPopup Stuff */

#loginPopup {
background-color: #fff;
border: 1px solid #f2f2f2;
border-radius: 8%;
display: none;
width: 350px;
height: 400px;
overflow: none;
padding: 20px;
}

#loginPopup form {
display: block;
font-size: 15px;
font-weight: 200;
}

#loginBtn {
background-color: #000;
color: #fff;
padding: 5px 10px;
border: 1px solid;
cursor: pointer;
}

#loginTitle {
color: #505050;
font-size: 35px;
font-weight: 500;
text-align: center;
font-family: 'Arimo';
margin-top: 15px;
margin-bottom: 15px;

}

#formtxt {
margin-bottom: 0px;
margin-left: 5px;
font-weight: 200;
font-size: 15px;
font-family: 'Arimo', sans-serif;
}

#username {
width: 100%;
border: 2px solid #f2f2f2;
border-radius: 5px;
padding: 5px;
margin-bottom: 15px;
font-size: 13px;
}
#username:hover, #username:focus {
border: 1.5px solid #dfdfdf;
background-color: #e4e4e4;
}

#password {
width: 100%;
border: 2px solid #f2f2f2;
border-radius: 5px;
padding: 5px;
margin-bottom: 15px;
font-size: 13px;
}
#password:hover, #password:focus {
border: 1.5px solid #dfdfdf;
background-color: #e4e4e4;
}

#submitBar {
width: 100%;
background-color: #e2d9d9;
border: 1px solid #f2f2f2;
border-radius: 15px;
height: 35px;
padding: 5px;
margin-top: 15px;
color: #000;
font-family: 'Arimo';
font-size: 13px;
}
#submitBar:hover, #submitBar:focus {
border: 1.5px solid #dfdfdf;
background-color: #c3bbbb;
}

.show {
display: block;
}

/* End of LoginPopup Stuff */


/* ALL THE SHRUNKEN STUFF */


/* when page is shrunk only a little, adjust boostrap elements */

@media only screen and (max-width: 1400px) {
    .nav_text {
        display: block;
        font-size: 10px;
        overflow-wrap: break-word;
    }

    .user_bubble {
        width: 90%;
        height: 90px;
    }

    .headerLeft_content {
        display: none;
    }

    .buttons {
         height: 75px;
         margin-top: 15px;
         margin-bottom: 15px;
         width: 90%;
     }

    .welcome_text {
        display: none;
    }

    #sidebar {
        width: 150px;
        overflow: hidden;
    }

    #footer_area {
        display: none;
    }

    #buttons_text {
        text-align: center;
        padding: 15px;
        margin: 0px;
        overflow-wrap: break-word;
    }

    .top_header {
        width: 90%;
    }

    #content {
        width: 100%;
    }

    .symbol {
        visibility: hidden;
    }
}

/* when page is even more shrunk, get rid of nav text boostrap elements */

@media only screen and (max-width: 1200px) {
    .nav_text {
        display: none;
    }

    .all_body {
        height: 100%;
    }

    .headerLeft_content {
        visibility: hidden;
    }

    .user_bubble {
        width: 90%;
        height: 90px;
    }

    .buttons {
         height: 75px;
         margin-top: 15px;
         margin-bottom: 15px;
         width: 90%;
         text-align: center;
     }

    .welcome_text {
        display: none;
    }

    #sidebar {
        width: 150px;
        overflow: hidden;
    }

    #footer_area {
        display: none;
    }

    #buttons_text {
        text-align: center;
        padding: 15px;
        margin: 0px;
        overflow-wrap: break-word;
    }

    .top_header {
        width: 88%;
    }

    .search_text {
        width: 100%;
    }

    #content {
        width: 100%;
    }

    .symbol {
        visibility: hidden;
    }

    #topVideos {
        background-color: #ffff;
        border: 0.2px solid #a2a2a2;
        border-radius: 17px;
        width: 90%;
        height: 200%;
        margin-top: 15px;
        margin-left: 55px;
        flex-direction: column;
        vertical-align: top;
        padding: 20px;
        color: #000;
    }
    
    #videoBox {
        background-color: #a2a2a2;
        display: inline-block;
        height: 170px;
        width: 235px;
        border-radius: 16px;
        margin-right: 10px;
    }
}

/* shrinkage adjustments for on mobile views */

@media screen and (max-width: 780px) {
    body {
        margin: auto;
    }

    .nav_text {
        display: block;
        font-size: 10px;
        overflow-wrap: break-word;
    }

    .user_bubble {
        display: none;
    }

    #sidebar {
        bottom: 0;
        position: fixed;
        width: 100%;
        height: 18%;
        overflow: hidden;
        display: flex;
        margin: auto;
        padding: 25px;
    }

    .all_body {
        height: 68%;
    }

    #loginPopup {
        width: 90%;
        height: 50%;
        top: 0;
        left: 0;
        margin: auto;
    }

    .divider {
        display: none;
    }

    .search_text {
        width: 100%;
    }

    #content {
        width: 100%;
    }

    .buttons {
        height: 80px;
        width: 100px;
        padding: 15px;
        display: inline-block;
    }

    .symbol {
        display: none;
    }

    .headerLeft_content {
        display: none;
    }

    .top_header {
        width: 100%;
    }

}
img.two {
    height: 50%;
    width: 50%;
  }


