/* login content */

#loginPopup {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 8%;
    position: fixed;
    display: none;
    width: 350px;
    height: 400px;
    overflow: none;
    padding: 20px;
    top: 20%;
    left: 50%;
}

#loginPopup form {
    display: block;
    font-size: 15px;
    font-weight: 200;
}

#loginBtn {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid;
    cursor: pointer;
}

#loginTitle {
    color: #505050;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    font-family: 'Arimo';
    margin-top: 15px;
    margin-bottom: 15px;

}

#formtxt {
    margin-bottom: 0px;
    margin-left: 5px;
    font-weight: 200;
    font-size: 15px;
    font-family: 'Arimo', sans-serif;
}

#username {
    width: 100%;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 13px;
}
#username:hover, #username:focus {
    border: 1.5px solid #dfdfdf;
    background-color: #e4e4e4;
}

#password {
    width: 100%;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 13px;
}
#password:hover, #password:focus {
    border: 1.5px solid #dfdfdf;
    background-color: #e4e4e4;
}

.submitBar {
    width: 100%;
    background-color: #e2d9d9;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    height: 35px;
    padding: 5px;
    margin-top: 15px;
    color: #000;
    font-family: 'Arimo';
    font-size: 13px;
}
.submitBar:hover, #submitBar:focus {
    border: 1.5px solid #dfdfdf;
    background-color: #c3bbbb;
}

.show {
    display: block;
  }


/* register content */

#regPopup {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 8%;
    position: fixed;
    display: none;
    width: 500px;
    height: 400px;
    overflow: none;
    padding: 20px;
    top: 20%;
    left: 50%;
}


#regPopup form {
    display: block;
    font-size: 15px;
    font-weight: 200;
}