body {
    display: flex;
    min-height: 100vh;
    background: rgb(231, 227, 227);
    background: radial-gradient(circle, rgba(231, 227, 227, 1) 0%, rgba(245, 241, 241, 1) 30%, rgba(255, 252, 252, 1) 47%, rgba(245, 241, 241, 1) 65%, rgba(231, 227, 227, 1) 100%);

  }



.main_bar {
    display: flex;
    max-width: fit-content;
    flex-flow: column;
    height: 100%
}

.card {
    display: inline-flex;
    padding: 10px;
    margin: 20px;
}

.card-video {
  max-width: fit-content;
}

.all-text {
    font-family: arial;
    margin: auto;
}

@media only screen and (max-width: 992px) {
    .left_sidebar {
        display: none;

    }

    .right_sidebar {
        display: none;
    }

}
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }

  .bubbled_item {
    border-radius: 50px;
    color:  #eaf6f6;
    background: #c1c0b9;
    padding: 6px;
    font-weight: bold;
  }

  .like_icon {
    display: inline-block;
    vertical-align:middle;
    object-fit: contain;
    width: 4%;
    height: 4%;
    max-height: 50%;
    max-width: 50%;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 0px;

  }