<!doctype html>
<html>

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
	<link href="/static/home.css" rel="stylesheet" />
	<link href="/static/login_bar.css" rel="stylesheet" />
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

	<script type="text/javascript" src="/functions.js"></script>
</head>

<body>
	<div id="container">
		<div id="sidebar">
			<div class="headerLeft">
				<div class="symbol">
				<span class="bi bi-chevron-double-left"></span> 
				<p class="headerLeft_content">Youtube Sentiment Analyzer</p>
				</div>
			</div>

			<div class="user_bubble">
				<img class="two" width="130" height="100" src='static/Youtube_logo.png'>
			</div>

			<!-- Put user name under welcome message from session var. -->
			<div class="welcome_text">Welcome, {{session['user']}}!</div><br>

			<hr class="divider">

				<div class="buttons" id="buttons_text" style="margin-top: 0px;" 
				onclick="window.location.href='/';"><span class="bi bi-house-door-fill"></span> Home</div>
				<div class="buttons" id="buttons_text" ><span class="bi bi-camera-video-fill"></span> TopVideos</div>
				<div class="buttons" id="buttons_text" ><span class="bi bi-globe"></span> About</div>

			<hr class="divider">

			<div class="buttons" id="buttons_text"  onclick="displayLogin('loginPopup')"><span class="bi bi-people-fill"></span> Login</div>
			<div class="buttons" id="buttons_text" onclick="displayReg('regPopup')"><span class="bi bi-person-bounding-box"></span> Register</div>
			<div class="buttons" id="buttons_text" ><span class="bi bi-arrow-down-square-fill"></span> SavedVideos</div>

			<hr class="divider">

			<div id="footer_area">
				&copy; 2023 Sapce Cats from Jupiter
			</div>
		</div>

		<script>
			function route_to(page) {
				window.location.href = page
			}
	</script>
		
		<div id="content">
			<div class="top_header">
				<form action="/search_results" method="GET" class="wrap">
					<!-- search bar-->
					<input type="text" name="term" class="search_text" placeholder="Search Youtube for Videos..">
					<button type="submit" class="search"><span class="fa fa-search"></span></button>
				</form>		
			</div>
			<div class="all_body"> 
				<!-- ALL CONTENT GOES IN HERE -->
			</div>
		</div>
	</div>

		<!-- login area -->
		<div id="loginPopup">
			<form action="/login.php" method="POST" id="user">
				<button type="button" class="btn-close" aria-label="Close" onclick="closeLogin('loginPopup')"></button>
				<div id="loginTitle">Login</div>
					<label for="username" id="formtxt"><b>Username</b></label>
					<input type="text" id="username" placeholder="Username" name="username" required>
					
					<label for="password" id="formtxt"><b>Password</b></label>
					<input type="password" id="password" placeholder="Password" name="password" required>
	
					<input type="checkbox"><label for="checkbox" id="formtxt">Remember my Login?</label>
	
					<button type="submit" id="submitBar">Submit</button>
			</form>
		</div>

		<!-- login area -->
		<div id="regPopup">
			<form>
				<button type="button" class="btn-close" aria-label="Close" onclick="closeReg('regPopup')"></button>
				<div id="loginTitle">Register</div>
				<div id="form-floating">
					<input type="email" class="form-control" id="floatEmail" placeholder="email">
					<label for="floatEmail"><b>Email Address</b></label>
				</div>
				<div id="form-floating">
					<input type="username" class="form-control" id="floatEmail" placeholder="username">
					<label for="floatEmail" id="formtxt"><b>Username</b></label>
				</div>
				<div id="form-floating">
					<input type="password" class="form-control" id="floatPass" placeholder="password">
					<label for="floatPass"><b>Password</b></label>
				</div>
				<input type="checkbox"><label for="checkbox" id="formtxt">I agree to donate my kidney's to the Sapce Cat's Team.</label>
			
				<button type="submit" id="submitBar">Submit</button>
			</form>
		</div>

</body>

</html>