<!doctype html>
<html>

	<head>
		<link href="/static/style.css" rel="stylesheet"/>
	</head>

	<body>

		<aside class="left_sidebar">
			<span class="all-text">Sidebar #1</span>
		</aside>

		<main class="main_bar">
			<div class="top_header">
				<span class="all-text">
				<!-- search bar-->
				<input type="text" class="search_text" placeholder="Search Youtube for Videos..">
				<button type="submit" class="search">
					<a href="{{ url_for('search_results') }}">Submit</a></button>
				</span>
			</div>
		</main>
		<!-- User Login stuff-->
	</body>

</html>